@import url('https://fonts.cdnfonts.com/css/circular-std');


body{
    margin: 0px;
    font-family: 'Circular Std', sans-serif;
    background-image: linear-gradient(333.52deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
}

#logo_initial{
    width: 120px;
/* Logo da página de login */
}

#logo{
    width: 3.7vh;
    /* Logo do cabeçalho */
}

#container{
    background-image: linear-gradient(333.52deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    background-size: cover;
    height: 700px;
    padding: 40px;
    /* Fundo da página index */
}

#containerlogin{
    background-image: linear-gradient(333.52deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    background-size: cover;
    height: 859px;
    padding: 40px;
    /*Fundo da página login*/
}

#containerinsc{
    background-image: linear-gradient(333.52deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    background-size: cover;
    height: 859px;
    padding: 40px;
    /*Fundo da página inscrever*/
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*Cabeçalho*/
}
#teste{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: black;
    top: 20%;
}

#btn-enter{
    padding: 7px 15px;
    background-color: #50301E;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
    /*Botão do cabeçalho marrom e branco*/
}

#main{
    color: black;
    margin-top: 100px;
    margin-left: 100px;
    /*Estilo letras após cabeçalho página index*/
}

#title-main{
    font-size: 62px;
    font-weight: 900;
    /*Estilo letras após cabeçalho página index*/
}

h3{
    font-weight: 400;
    margin-top: 40px;
    /*Estilo letras após cabeçalho página index*/
}

form{
    display: flex;
    flex-direction: row;
    /*Estilo input após cabeçalho página index*/
}

formlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    gap: 35px;
    /*Estilo input página login*/

}

#input{
    display: block;
    height: 50px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 10px;
    /*Estilo input página index*/
}

#inputdata{
    display: block;
    height: 45px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 10px;
    /*Estilo input página inscrever*/
}

#inputsenha{
    display: block;
    height: 50px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 10px;
    /*Estilo input página login para o JavaScript*/
}
#inputsenhainsc{
    display: block;
    height: 45px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 10px;
    /*Estilo input página inscrever para o JavaScript*/
}

#btn-start{
    margin-left: 10px;
    font-size: 22px;
    padding: 2px 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #50301E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
/*Botão marrom e branco de entrar*/
}

#box-container{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;    
    background: linear-gradient(333.52deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    border-radius: 5px;
    /*Estilo box-container da página index*/
}
#box-containerlogin{
    width: 30%;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;    
    background: linear-gradient(400deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    border-radius: 5px;
    /*Estilo box-container da página login*/
}

#box-containerinscrever{
    width: 50%;
    height: 720px;
    margin: 0 auto;
    margin-top: 60px;    
    background: linear-gradient(400deg, #643b24 24.58%, white 84.55%, #643b24 104.96%);
    border-radius: 5px;
    /*Estilo box-container da página inscrever*/
}

.box-info{
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    padding: 40px;
    justify-content: center;
    /*Estilo box-container da página index e login*/
}

.box-infoinsc{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding: 40px;
    justify-content: center;
    /*Estilo box-container da página inscrever*/
}

.datacad{
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    color: black;
    align-items: left;
    padding: 10px;
    gap: 10px;
    /*Estilo box-container da página inscrever*/
}

.box-textinsc{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    /*Estilo box-container da página inscrever*/
}

.box-title{
    font-size: 48px;
    font-weight: 800;
    margin-right: 100px;
    /*Estilo letras do container da página index*/

}
.box-titleinsc{
    font-size: 30px;
    font-weight: 500;
    /*Estilo letras do container da página insc*/

}

.subtitle-main{
    font-size: 20px;
    /*Estilo letras do container da página index*/
}

.shadow{
    width: 85%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.467);
    margin: 0 auto;
    /*Linha da página index*/
}
#tablet {
    width: 510px;
    /*Tamanho da imagem da página index*/
}
#eye{
    display: flex;
    flex-direction: row;
    position: relative;
    /*Olho da página login*/
}
div eyelogin{
    position: absolute;
    right: 5%;
    top: 40%;
    cursor: pointer;
    font-size: 25px;
    /*Estilo olho da página login*/
}
div eyeinsc{
    position: absolute;
    right: 5%;
    top: 38%;
    cursor: pointer;
    font-size: 25px;
    /*Estilo olho da página inscrever*/
}

label {
    font-weight: bold;
    font-size: 12px;
}


